.footer {
  background: $black;
  padding: 1rem;
  margin-top: 1rem;
  color: $primary;
  small {
    display: block;
    font-size: 70%;

  }
  ul {
    list-style: none;    
    margin: 0;
  }
  li {
    margin-bottom: 0.5rem;
    
  }
  .citation {
    color: $primary;
    transition: all 200ms ease;
    &:hover {
      color: $font-light;
    }
  }
}


.footer__link {
  display: inline-block;
  color: $primary-light;
  text-decoration: none;
  transition: all 200ms ease;
  &:hover {
    color: $font-light;
  }
}