.header {
  padding: 2rem;
  h1 {
    color: $primary;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: 100;
    margin-bottom: 1rem;
  }
  p{
    margin-bottom: 0.25rem;
    line-height: 180%;
  }
  a {
    background: $primary-light;
    color: white;
    text-decoration: none;
    padding: 0 0.2rem;
    transition: all 200ms ease;
    &:hover{
      text-decoration: underline;
      background: $primary;
    }
  }
}

.header--flex {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}