.flex {
  display: flex;
}

.flex--center {
  display: flex; 
  justify-content: center;
  // align-items: center;
}

.flex--col {
  flex-direction: column;
}

.cover {
  position: sticky;
  top: 30%;    
  bottom: 0;
  left: 0; 
}

.rel {
  position: relative;
}

.content {
  max-width: 500px;
}

.grid--aside {
  display: grid;
  grid-template-columns: 220px 1fr;
  overflow: hidden; 
}