.pages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 100vh;
  padding: 20px 50px;
  background: #eaebec;   
  ::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}

.pages__link {
  flex-grow: 1;
  display: block;
  width: 100%;
  max-width: 450px;
  text-decoration: none;    
  box-shadow: 0 6px 12px -2px rgba(179, 179, 197, 0.25), 0 4px 8px -4px rgba(0,0,0,.3), 0 -2px 10px -2px rgba(0,0,0,.025);  
  margin-bottom: 2rem;
  border-radius: 10px;
  background: #fafafa;
  color: rgba(0,0,0,0.8);
  transition: all 200ms ease;  
  &:hover {
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);    
  }
}

.pages__link-title {
  padding: 1rem;
  background: $primary-white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  h4 {
    margin-bottom: 0.25rem;
    color: $primary;    
  }
  small {
    color: $med;
    margin: 0;    
  }
}

.pages__link-desc {
  font-size: 16px;
  margin: 0;
  padding: 1rem;  
  max-width: 350px;  
  p {
    margin: 0;
  }
}

