@media(max-width: 850px) {
  .grid--aside {
    display: block;
  }
  .flex {
    display: block;
  }
  .pages {
    max-height: 100%;
    overflow-y: auto;
    padding: 1em;
  }
  .aside__nav {
    position: relative;
    display: flex;
    overflow-y: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    // align-items: center;
    max-width: 100%;    
  }
  .aside__nav-title {
    margin-bottom: 0;
    margin-right: 2rem;
    align-self: center;
    border-bottom: none;
    border-right: 1px solid $primary-dark;
    padding-right: 1rem;
  }
  .aside__nav-link {
    display: inline-block;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    min-width: 200px;
  }
}